{% extends 'backend/base.html' %}
{% block title %}EDIT TALKZONE {% endblock %}
{% block body %}
<style>
#zoom:hover,
#zoom:active,
#zoom:focus {
/**adjust scale to desired size,
add browser prefixes**/
-ms-transform: scale(2.0);
-moz-transform: scale(2.0);
-webkit-transform: scale(2.5);
-o-transform: scale(2.0);
transform: scale(2.0);
position:relative;
z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/


/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
#divname{cursor: pointer}

/*#zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    /*-webkit-transform: scale(1.5); /* Safari 3-8 */
    /*transform: scale(1.5);
}*/
</style>
    {% load static %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color: black;
                 box-shadow: 10px 10px 10px;color:darkgray">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <p style="color:white">{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header">
                       {% for images in image %}
                           <div class="row">
                           <div class="col-md-8 offset-2" id="divname">
                               <img src="{{ images.cover_picture.url }}" class="img-fluid" id="zoom" style="height: 120px; width: 1000px;"/>
                           </div>

                           </div>
                        {% endfor %}
                        <hr>
                    <h3 style="text-align: center">Post Talk Zone</h3>
                    </div>
                     <div class="card-body">
                                <form class="form-group" method="post"  enctype="multipart/form-data">
                             {% csrf_token %}
                                    {{ form.media }}
                                    {{ form }}
                                    <div class="form-group col-sm-12" style="margin-top: 2%">
                                        <button class="btn btn-success pull-right">Submit</button>
                                    </div>
                                </form>

                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}