{% extends 'Music/../../../Frontend/templates/Frontend/base.html' %}
<title> {% block title %}Sport{% endblock %}</title>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

{% block body %}
  {% load static %}


   <div class="container" style="background-color:white; margin-top: 0.5%">
   <div class="row">
    {% for news in  first_tweleve_sports %}
                <div class="col-md-4 " style="padding-left: 1px;padding-right: 1px">

                        <a href="{% url 'News:display_news' news.slug %}">
                            <img src="{{ news.cover_picture.url }}" class="img-fluid" style="height: 160px; width: 1000px;">

                        </a>
                        <a href="{% url 'News:display_news' news.slug %}"style="text-decoration: none; color: #535362">{{ news.title|safe }}</a>





                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
   <div class="row" style="margin-top: 2%">
    <img src="{% static 'image/adon1.fw.png' %}" alt="Third Slide" class="img-fluid"/>
</div>
   <div class="row">
    {% for news in  rest_sports %}
                <div class="col-md-4 " style="padding-left: 1px;padding-right: 1px">

                        <a href="{% url 'News:display_news' news.slug %}">
                            <img src="{{ news.cover_picture.url }}" class="img-fluid" style="height: 160px; width: 1000px;">

                        </a>
                        <a href="{% url 'News:display_news' news.slug %}"style="text-decoration: none; color: #535362">{{ news.title|safe }}</a>





                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
   </div>
{% endblock %}